
@{
    ViewBag.Title = "DishIndex";
}

<h2>Dish Index</h2>



    <table class="table-bordered">
            <tr>
                <th>
                    Dish Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Option
                </th>
                <th>
                    Person Name
                </th>
                <th>
                    Phone
                </th>
            </tr>
            @foreach (var dish in ViewBag.DishList)
            {
                
            <tr>
                <td>
                    @dish.DishName
                </td>
                <td>
                    @dish.DishDescription
                </td>
                <td>
                    @dish.FoodOption
                </td>
                <td>
                    @dish.PersonName
                </td>
                <td>
                    @dish.PhoneNumber
                </td>
                <td>
                    <a  onclick="DeleteChoice(@dish.DishID)" style="cursor:pointer">DELETE!</a>
                </td>
                <td>
                    <a href="~/Home/EditDish?ID=@dish.DishID">EDIT!</a>
                </td>
            </tr>
            }
            
    </table>

    

