@model Assessment7.Models.Dish
@{
    ViewBag.Title = "EditDish";
}

<h2>Edit Dish</h2>

<form action="~/Home/ConfirmDishEdit" method="post">

    <input type="hidden" name="DishID" value="@Model.DishID" />

    <label> Dish Name: <input type="text" name="DishName" value="@Model.DishName" required /> </label> <br />

    <label> Description: <input type="text" name="DishDescription" value="@Model.DishDescription" required /> </label> <br />

    <label>
        Food Option? <select name="FoodOption">
            <option value="Main">Main</option>
            <option value="Side">Side</option>
            <option value="Veg">Veg</option>
            <option value="Desert">Desert</option>
        </select>
    </label>

    <br />

    <label> First and Last name:<input type="text" name="PersonName" value="@Model.PersonName" required pattern="[A-Z][a-z ]+[A-Z][a-z]+" /> </label> <br />

    <label> Phone Number (no dashes or spaces!):<input type="text" name="PhoneNumber" value="@Model.PhoneNumber" required pattern="[0-9]{10}" /> </label> <br />

    <input type="submit" class="btn-default" /> <br />


</form>